  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
.header{
   background: url(../img/header-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
    position: relative;

    
}
.fa-globe{
  color: rgba(255, 255, 255, 0.555);
  /* background-color: rgba(0, 0, 0, 0.301); */
  position: absolute;
  top: 6%;
  left: -20%;

}

.logo{
  color: rgba(255, 255, 255, 0.555);
  /* background-color: rgba(0, 0, 0, 0.301); */
  position: absolute;
  top: 5%;
  left: 10%;
}
ul{
  list-style: none;
}
 .nav-items .nav-item1,.nav-item2,.nav-item3 a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.507);
  /* background-color: rgba(0, 0, 0, 0.39); */

}
.nav-items .nav-item1,.nav-item2, a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.507);
  /* background-color: rgba(0, 0, 0, 0.39); */
}
.nav-items .nav-item1 a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.507);
  /* background-color: rgba(0, 0, 0, 0.39); */
}
.nav-items .nav-item1{
  position: absolute;
  top: 5%;
  right: 30%;

  
}
.nav-items .nav-item2{
  position: absolute;
  top: 5%;
  right: 23%;

}
.nav-items .nav-item3{
  position: absolute;
  top: 5%;
  right: 17%;

}
.container{
  max-width: 1380px;
  width: 90%;
  margin: 0px auto;
}
.nav-items  a:hover{
  border-bottom: 2px solid white;
}
.nav-items  a{
  padding-bottom:5px;
}
.heading{
  color: rgba(255, 255, 255, 0.712);
  padding: 300px 500px;

  
}
.h2{
  
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.p{
  font-weight: 500;
   text-transform: uppercase;
   margin-bottom: 25px;
  }
  .btn{
    font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
margin-left: 50px;
 padding: 10px;
 background-color: rgba(255, 255, 255, 0.842);
 color: rgba(255, 0, 0, 0.699);
 transition: 0.6s;
 border-radius: 100px;
  }
  .btn:hover{
    background-color: wheat;
    box-shadow: 0px 0px 0px 4px black,0px 0px 0px 6px wheat;
  }
  .showcase{
    background-color:#DDD;
    padding: 100px 0px;
    position: relative;
  }

  .row{
    /* margin: 100px; */
    /* padding: 100px; */
    background-color: white;
    height: 350px;
    box-shadow: 0px 0px 20px 0px #aaa;
   
  }
  .row1 .img-box, .row2 .text-box{
    float: left;
    width: 50%;
    height: 100%;
 
  
  }
  .row1 .text-box, .row2 .img-box{
    float: right;
    width: 50%;
    height: 100%;

  }
  .text-box{
    padding-left: 10px;
  }
  .row .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .row1{
    margin-bottom: 100px;
  }
  .text-box{
    padding: 20px;
  }
  .h3{
    text-align: center;
  }
  .btn1{
  padding: 5px;
position: absolute;
bottom: 12%;
left: 15%;
background-color: white;
color: rgba(228, 83, 26, 0.966);
border: 2px solid orangered;
border-radius: 20%;
    
  }
  .btn2{
    padding: 5px;
 position: absolute;
 top: 41%;
 right: 35%;
  background-color: white;
  color: rgba(228, 83, 26, 0.966);
  border: 2px solid orangered;
  border-radius: 20%;
      
    }
   
    /* ########################## futures ################### */

    .row-box{
      /* padding: 10rem; */
      box-shadow: 0px 0px 20px 0px #aaa;
    
    }
    .box{
     
      width: 33.3333%;
      padding: 30px;
      text-align: center;
    }
    .box1{
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.747);
      color: rgba(255, 255, 255, 0.753);
      transform: translate(1%,0%);
    
    }
    .box2{
      display: inline-block;
      background-color: orangered;
      color: white;
    }
    .box3{
      transform: translate(201%,-100%);
      background-color: rgba(0, 0, 0, 0.747);
      color: rgba(255, 255, 255, 0.753);
    }

    /* ############################# footer ########################### */
    .footer{
      background-color: rgba(0, 0, 0, 0.747);
      padding: 30px;
      text-align: center;
    
    }
    .main-footer{
      font-size: 25px;
      color: #DDD;
    }
    .fa-brands{
      margin: 10px;
    }

    /* ########################### About Us ######################################## */
  .nav-about{
    background-color: rgba(0, 0, 0, 0.747);
    width: 100%;
    padding: 35px;
  }
  .h21{
  font-size: 35px;
 margin: 40px 100px;
 border-bottom: 4px solid orangered;
  }
  .conten1{
  display: flex;
  justify-content: space-around;
  margin: 20px;
  font-size: 20px;
  }
  .conten1 li::before{
    content: "\2713";
    padding-right: 10px;
    color: orangered;
    font-weight: bold;
  }
  .count{
   display: flex;
   justify-content: space-evenly;
   margin: 30px;
   
  }
  .a{
    display: block;
    color: orangered;
    font-weight: bold;
    font-size: 20px;
  }
  .abc{
    margin-left: 200px;
    margin-top: 40px;
    background-color: orangered;
    padding: 10px;
    width: 700px;
  }
  .abc1{
    font-size: 20px;
    text-align: center;
  }
  .btn3{
    border: none;
    background-color: orangered;
    border: 2px solid white;
    color: white;
    padding: 10px;
    cursor: pointer;
    margin-left: 30px;
    font-size: 20px;
    transition: 0.5s;
  }
  .btn3:hover{
    background-color:white;
    color: orangered;
  }

  /* ########################### contac us page ########################### */
.contact{
  /* margin: 70px; */
  background-color: #aaa;
  padding: 70px;
  display: flex;
  justify-content: space-around;
 
}
.contact-list{
  background: white;
  width: 600px;
  /* padding: 30px 0; */
  /* margin: 10px; */
}


  .fa-location-dot,.fa-envelope,.fa-phone{
    color: orangered;
    font-size: 20px;
    padding: 10px;

  }
  .
  
  .con-img img{
    height: 100px;
   
  }
  .form1{
    background-color: white;
    padding: 20px;
    margin-left: 40px;
  }
  .p2{
    border-bottom: 6px solid orangered;
    width: 400px;
    font-size: 20px;
    padding: 10px;
  }
  .btn4{
  margin: 50px 70px;
  border: none;
  background-color: orangered;
  color: white;
  padding: 10px 30px;
  transition: 1s;
  border-radius: 50px;
  }
  .btn4:hover{
    box-shadow: 0px 0px 0px 4px white,0px 0px 0px 8px orangered;
  }

