
@media only screen and (max-width:1160px) {
    .container{
        width: 100%;
        margin: 0;
    }
}
@media only screen and (max-width:992PX) {
    .ul-nav .nav-list a{
        font-size: 20px;
    }
    .hedaer-cotain{
        color: white;
        padding: 50px 50px;
    }
}
@media only screen and (max-width:768PX) {
    .ul-nav{
        display: none;
    }
    .hedaer-cotain p{
        width: 70%;
    }
    .sec1 .sec1-p{
        width: 70%;
    }
    .sec1-contain p{
        width: 100%;
    }
    .sec1 .row{
        display: block;
    }
    .sec1 .row .col{
        width: 100%;
        margin: 10px 0;
    }
    .sec2 .row{
        display: block;
        padding: 50px;
        /* margin: 30px; */
    }
    .sec2 .row .col p,h1{
        text-align: center;
        margin: 0 auto;
    }
    .sec2 .row .col .img img{
        border-radius: 50%;
      transform: translate(50%,0%);
    
       
    }
    .sec2 .btn{
    transform: translatex(150px);
    
    }
    .sec4 .btn{
        transform: translatex(50px);
              text-align: center;
        }
        .foot .row{
            display: block;
        }
        .foot .row .col-40,.col-60{
            width: 80%;
            margin: 20px auto;
            text-align: center;
    
        }
        .foot p{
            width: 100%;
            margin: 0 auto;
            text-align: center;
        }
        .col-60 .row .col{
            margin: 20px 0;
        }
        .sec4 .row{
            display: block;
            align-items: center;
           
        }
        .sec4{
          
        }
    }
}
@media only screen and (max-width:500PX) {
    .logo{
        width: 150px;
    }
    .hedaer-cotain p{
        width: 60%;
    }
    .hedaer-cotain h1,button{
        margin: 15px 0;
    }
    .hedaer-cotain  p{
        margin: 15px 0;
    }
    .hedaer-cotain button{
        font-size: 16px;
        padding: 10px 25px;
    }
    .sec1 .row .col{
        /* border: 2px solid; */
        width: 100%;
        padding: 50px 30px;
    }
    .sec1-contain p{
        width: 40%;
        margin: 0 auto;
        /* font-size: clamp(16px,2.4vw,20px); */
    }
    /* .sec3 .p1{

        width: 80%;
    } */
    .sec2 .row .col .img img{
        border-radius: 50%;
      transform: translate(0%,0%);

    
       
    }
   
    
    
    .sec2 .row{
        display: block;
        padding: 50px;
        /* margin: 30px; */
    }
    .sec2 .row .col p,h1{
        text-align: center;
        margin: 0 auto;
    }
    .sec3 .row{
        display: block;
        padding: 50px;
        /* margin: 30px; */
    }
    .sec3 .row .col p,h1{
        text-align: center;
        margin: 0 auto;
    }
    .sec3 .row .col{
        border-radius: 100px;
        /* padding: 20px;
        /* font-size: 20px; */ */

    }
    .sec4 .row{
        display: block;
        padding: 50px;
        /* margin: 30px; */
    }
    .sec4 .row .col p,h1{
        text-align: center;
        margin: 0 auto;
        width: 90%;
        
    }
    .sec4 .row .img img{
    
         transform: translateX(50px);
    
       
    }
    .sec2 .btn{
        transform: translatex(20px);
        
        }
        .sec4 .btn{
            transform: translatex(20px);
            
            }
            .sec6 .row .col p{
                width: 100%;
            }
}